@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;

    width: 100%;
}

.nav__links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #FF7B00;
}

.HeadH1Grid {
    text-align: center;
}
.HeadH1Grid h1 {
    color: white;
    text-shadow: 0 0 3px #00ccff, 0 0 5px #0004fd;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-container h1 {
    font-size: 40px;
    text-align: center;
}

.grid-item1 {
    grid-column: 1 / span 1;
    margin-left: auto;
    padding-right: -15px;
}
.grid-item1 img {
    width: 410px;
    height: 715px;
}

.grid-item2 {
    grid-column: 2 / span 1;
    width: 100%;
    position: relative;
}
.grid-item2 h1 {
    text-align: left;
    margin-top: 200px;
}
.grid-item2 h1 span{
    color: #FF7B00;
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.5s * var(--i))
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
.grid-item2 p1 {
    text-align: left;
    font-size: 20px;
    color: #979A9A;
}
p1 span{
    transition: .5s linear
}
p1:hover span:nth-child(1){
    margin-right: 5px
}
p1:hover span:nth-child(1):after{
    content: " ";
}
p1:hover span:nth-child(2){
    margin-left: 30px
}
p1:hover span{
    color: rgb(255, 123, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255),
                 0 0 20px rgb(255, 255, 255), 
                 0 0 40px rgb(255, 255, 255);
}

.grid-item3 {
    background-color: white;
    padding: 20px;

    grid-column: 1 / span 1;
    margin-left: auto;
    padding-right: -15px;

    padding: 100px;
    box-sizing: border-box;
    background-color: rgb(255, 219, 143);
    border-radius: 20px;
}
.grid-item3 img {
    width: 42px;
    height: 42px;
}
.grid-item3 p {
    text-align: right;
}

.grid-item4 {
    background-color: white;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    grid-column: 2 / span 1;
}

.course {
    width: 75%;
    margin: 200px;
    text-align: center;
    padding-top: 50px;

    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 219, 143);
    border-radius: 20px;
}

.course h1 {
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #ff00c8;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    color: rgb(187, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

p3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.row {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.conure-col {
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
.conure-col img {
    width: 230px;
    height: 150px;
}
.conure-col1 {
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
.conure-col1 img {
    width: 150px;
    height: 150px;
}

.conure-col1 span {
    color: red;
}

.conure-col:hover {
    background: rgb(255, 123, 0);
    color: #fff;
    cursor: pointer;
}
.conure-col:hover a {
    color: rgb(255, 255, 255) !important;
}
.conure-col1:hover {
    background: rgb(255, 123, 0);
    color: #fff;
    cursor: pointer;
}
.conure-col1:hover a {
    color: rgb(255, 255, 255) !important;
}

.skill {
    width: 75%;
    margin: 200px;
    text-align: center;
    padding-top: 100px;

    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 210, 247);
    border-radius: 20px;
}
.skill h1 {
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.img-hover img {
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.con-tect {
    margin-top: 20px;
}

.con-tect a {
    color: #000 ;
}

.con-tect:hover a {
    color: rgb(255, 255, 255) !important;
}

.con-tect:hover {
    background: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.con-tect h1 {
    text-align: center;
}

.map-item iframe {
    width: 500px;
    height: 500px;
    border: 0;
    border-radius: 20px;
}